### BD con Python

In [1]:
import sqlite3

##### Paso 1 : Crear conexión

In [2]:
miConexion = sqlite3.connect("primerabd")

##### Paso 2: Crear cursor

In [3]:
miCursor = miConexion.cursor()

##### Paso 3: Ejecutar query de consulta

In [5]:
miCursor.execute("CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50), PRECIO INTEGER(50), SECCION VARCHAR(20))")

##### Paso 4: Manejar los datos de la consulta

In [6]:
miCursor.execute("INSERT INTO PRODUCTOS VALUES('BALÓN', 24, 'DEPORTES')")

Con lo siguiente, digo que admito los cambios.

##### Paso 5: Cerrar puntero

In [7]:
miConexion.commit()

##### Paso 6: Cerrar conexión:

In [8]:
miConexion.close()