### Insertar multiples registros

In [1]:
import sqlite3

In [2]:
miConexion = sqlite3.connect("primerabd")

In [3]:
miCursor = miConexion.cursor()

In [5]:
variosProductos = [
    ("Camiseta", 10, "Deportes"),
    ("Jarrón", 90, "Cerámica"),
    ("Camión", 60, "Juguetería")
]

En la sentencia un signo de pregunta se da por cada campo en la base de datos

In [6]:
miCursor.executemany("INSERT INTO PRODUCTOS VALUES (?,?,?)", variosProductos)

### Consultar a la base de datos

In [8]:
miCursor.execute("SELECT * FROM PRODUCTOS")

Para leer, necesitamos almacenarlos en una variable. fetchall -> Devuelve una lista con los registros
que devuelve la sentencia SQL. Como se puede ver, es una lista de tuplas

In [9]:
productos = miCursor.fetchall()
print(productos)

[('BALÓN', 24, 'DEPORTES'), ('Camiseta', 10, 'Deportes'), ('Jarrón', 90, 'Cerámica'), ('Camión', 60, 'Juguetería')]

In [10]:
for producto in productos:
    print("Nombre articulo: ", producto[0])

Nombre articulo:  BALÓN
Nombre articulo:  Camiseta
Nombre articulo:  Jarrón
Nombre articulo:  Camión

In [7]:
miConexion.commit()

In [11]:
miConexion.close()