In [1]:
import sqlite3

In [10]:
miConexion = sqlite3.connect("DatosProductosBD")

In [11]:
miCursor = miConexion.cursor()

Como es autoincermentable, en este caso se llamará id y será de tipo INTEGER

In [12]:
miCursor.execute('''
    CREATE TABLE PRODUCTOS(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NOMBRE_ARTICULO VARCHAR(50) UNIQUE,
    PRECIO INTEGER,
    SECCION VARCHAR(20))
''')

Ya no tendría xq ir un id

In [13]:
productos=[
    ("pelota", 20, "jugueteria"),
    ("pantalon", 50, "ropa"),
    ("martillo", 20, "ferreteria"),
    ("mesa", 80, "cerámica"),
]

En este caso como la tabla tiene 4 campos, y solo pasamos 3, debemos especificar que el 1ero
es null

In [14]:
miCursor.executemany("INSERT INTO PRODUCTOS VALUES (NULL, ?, ?, ?)", productos)

#### CRUD : READ

OJO: Es case sensitive

In [19]:
miCursor.execute("SELECT * FROM PRODUCTOS WHERE SECCION = 'ropa'")

In [20]:
productos_ropa = miCursor.fetchall()
print(productos_ropa)

[(2, 'pantalon', 50, 'ropa')]

#### CRUD: UPDATE

In [22]:
miCursor.execute("UPDATE PRODUCTOS SET PRECIO = 40 WHERE NOMBRE_ARTICULO='pelota' ")

#### CRUD: DELETE

In [23]:
miCursor.execute("DELETE FROM PRODUCTOS WHERE ID = 5")

##### Probando

In [24]:
miCursor.execute("SELECT * FROM PRODUCTOS")
productos_general = miCursor.fetchall()
print(productos_general)

[(1, 'pelota', 40, 'jugueteria'), (2, 'pantalon', 50, 'ropa'), (3, 'martillo', 20, 'ferreteria'), (4, 'mesa', 80, 'cerámica')]

In [25]:
miConexion.commit()

In [26]:
miConexion.close()